$item-focus-border: #4f9fcf;
$dialog-background: #d6e3e7;
$item-menu-action-hover-background: lighten($dialog-background, 5%);
$dialog-header-background: #4f7dc9;
$dialog-focus-bar-background: #333;
$item-hover-border: lighten($item-focus-border, 20%);

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.math-ui {
    position: relative;
    border: 3px solid transparent;
    padding: 1px;
    margin: -4px;  /* -(border-width + padding) */
    outline: none;
    cursor: pointer;
   
    &:hover, &.highlight {
        border: 3px solid $item-hover-border;
    }

    &:focus {
        border: 3px solid $item-focus-border;
    }

    & > div.math-ui-eqn-menu {
        position: absolute;
        left: 0;
        font-family: sans-serif;
        font-size: 12px;
        font-size: 0.8rem;
        white-space: nowrap;
        z-index: 1;

        & > span.math-ui-header {
            background-color: $dialog-header-background;
            color: white;
            padding: 0.5em;
        }
    
        & > span.math-ui-container {
            margin: 0;
            padding: 0;
            display: inline-block;

            & > span.math-ui-item {
                display: inline-block;
                background-color: $dialog-background;
                padding: 0.5em;
                min-width: 6em;
                text-align: center;

                &.math-ui-selected {
                    font-weight: bold;
                }

                &:hover {
                    background-color: $item-menu-action-hover-background;
                }
            }

        }
    }
}

span.math-ui {
    display: inline-block;
}

div.math-ui {
    display: block;
    text-align: center;
}

div.math-ui-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);   /* IE*/
    background-color: rgba(0,0,0,0.1);
    z-index: 100000;

    & > div.math-ui-dialog {
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

div.math-ui-dialog {
    position: absolute;
    background-color: $dialog-background;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;

    overflow: hidden;
    z-index: 100001;

    & > div.math-ui-wrapper {
        padding: 0;
        margin: 0;
        border: 1px solid white;
        @include clearfix;
    }
    .math-ui-header {
        background-color: $dialog-header-background;
        color: #fff;
        height: 3em;
        line-height: 3em;
        padding: 0 1em;
        margin: 0;
    }
    .math-ui-content {
        color: #000;
        padding: 0;
        margin: 0;
    }
    button {
        background-color: transparent;
        color: #333;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        margin: 0;
        font: inherit;
        font-size: 1em;
        &:hover {
            background-color: #eaf1f3;
        }
        &:focus {
            font-weight: bold;
        }
    }
    .math-ui-footer {
        float: right;
        button {
            color: #000;
        }
    }

}

div.math-ui-dialog.math-ui-dashboard {
    width: 20em;

    .math-ui-content button {
        text-align: left;
        width: 100%;
        display: block;
    }
}

div.math-ui-dialog.math-ui-source {
    width: 40em;
    & > .content {
        color: #000;
        padding: 0;
    }
    .math-ui-types {
        font-size: 80%;
        border-left: 0.2em solid transparent;
        span {
            display: inline-block;
            background-color: #d6e3e7;
            padding: 0.5em 0;
            width: 6em;
            text-align: center;
            &.math-ui-selected {
                font-weight: bold;
            }
            &:hover {
                background-color: #eaf1f3;
                cursor: pointer;
            }
        }
        &:focus {
            outline: none;
            border-left: 0.2em solid $dialog-focus-bar-background;
        }
    }
    textarea {
        width: 100%;
        height: 20em;
        padding: 0 0 0 0.3em;
        border: none;
        border-left: 0.2em solid transparent;
        box-sizing: border-box;
        overflow: scroll;
        background-color: inherit;
        font-size: 1em;
        &:focus {
            outline: none;
            border-left: 0.2em solid $dialog-focus-bar-background;
        }
    }
}

div.math-ui-zoom {
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid black;
    padding: 0;
    background: white;
    color: black;
    z-index: 1;

    & > div.math-ui-wrapper {
        font-size: 200%;
    }

}